@{
    ViewBag.Title = "猫市币明细";
    Layout = "../Shared/_LayoutNone.cshtml";
}

@section Head
{
    @*@WebHelper4H5.RegisterStyles("newStyles/mzui/amazeui.css")*@
    @WebHelper4H5.RegisterStyles("newStyles/style.css")
    @WebHelper4H5.RegisterStyles("newStyles/main.css")
    @WebHelper4H5.RegisterStyles("newStyles/dyl.css")
    @WebHelper4H5.RegisterStyles("newStyles/wxq.css")
    @WebHelper4H5.RegisterStyles("newStyles/lsm.css")
    <style type="text/css">
        .nodata_shop {
            margin: 5rem auto 5rem;
            color: #757575;
            font-size: 1.2rem;
            text-align: center;
        }
        .no-icon {
            height: 8rem;
            width: 8rem;
            background-size: 8rem;
        }
        .nodatatip {
            line-height: 1.6rem;
            padding: .8rem 1.2rem;
        }
    </style>
}
@{
    if (ViewBag.TotalCount>0)
    {
        <div id="IntegralList">
            <ul>
                @for (int i = 0; i < ViewBag.TotalCount; i++)
                   {
                    <li class="IntegralItem">
                        <div>
                            <div class="integraltime">
                                <p>@ViewBag.InfoList[i]["dateName"]</p>
                                <p>@ViewBag.InfoList[i]["timeName"]</p>
                            </div>
                        </div>
                        <div>
                            <p>@(ViewBag.InfoList[i]["shouZhi"] == 1 ? ViewBag.InfoList[i]["incomeAmount"] : ViewBag.InfoList[i]["expenditureAmount"])积分</p>
                            <p>@ViewBag.InfoList[i]["remark"]&nbsp;&nbsp;@ViewBag.InfoList[i]["relateNo"]</p>
                        </div>
                    </li>
                   }
            </ul>
        </div>
    }else{
        <div id="proList"><div class="nodata_shop"><p class="no-icon wdgwc"></p><p class="nodatatip">暂无数据</p></div></div>
    }

}
