@{
    ViewBag.Title = "头像上传";
    Layout = "../Shared/_LayoutNone.cshtml";

}
@section Head
{
    @WebHelper4H5.RegisterStyles("userAbout/default.css")
    <style>
        #clipArea {
            margin: 0px;
            height: 300px;
        }

        #view {
            margin: 0 auto;
            width: 200px;
            height: 200px;
            display: none;
        }
    </style>
}
<article class="htmleaf-container">
    <header style="display:none;" class="htmleaf-header"></header>
    <div id="clipArea"></div>
    <div class="imgAction full-width box">
        <div class="clipcancle fl posrelative fs36">
            取消
            <button id="backBtn" class="backBtn">取消</button>
        </div>
        <div class="clipsave fl posrelative fs36">
            保存
            <button id="clipBtn" class="clipBtn">保存</button>
        </div>
        <div class="clipfile fl posrelative fs36">
            选择
            <input type="file" id="file" value="选择照片" class="file">
        </div>


    </div>

    <div id="view"></div>
</article>
<div class="loading3"></div>
<div class="popback" style=" background:#000;"></div>
@*<div class="infinite-scroll-preloader"><img src="/Content/images/loadingAnimation.gif"/></div>*@
@section Footer
{

}
@section Scripts
{

    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/Plugin/Photo/exif.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/Plugin/Photo/iscroll-zoom.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/Plugin/Photo/hammer.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/Plugin/Photo/jquery.photoClip.js"></script>
    <script>
        $("#backBtn").click(function () { window.history.go(-1); });
        //document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
        $("#clipArea").photoClip({
            width: 200,
            height: 200,
            file: "#file",
            view: "#view",
            ok: "#clipBtn",
            loadStart: function () {
                console.log("照片读取中");
            },
            loadComplete: function () {
                console.log("照片读取完成");
            },
            clipFinish: function (dataURL) {
                $(".loading3").show();
                $(".popback").show();
                //必须等压缩完才读取canvas值，否则canvas内容是黑帆布
                $.ajax({
                    url: "/Account/imgUpload",
                    async: false,
                    type: "post",
                    data: { data: dataURL.substr(dataURL.indexOf(";base64,") + 8), name: document.getElementById("file").files[0].name },//data.substring(22)
                    dataType: "json",
                    success: function (result) {
                        //console.log(result);

                        if (result.isSuccess) {
                            apiRequest({
                                method: 'User/UpdateUserPic',
                                async: false,
                                data: { "UserPic": result.data },
                                success: function (obj) {
                                    $(".loading3").hide();
                                    $(".popback").hide();
                                    if (obj.isBizSuccess) {
                                        var sestorage = window.sessionStorage;
                                        sestorage.setItem("refreshFlag", true);
                                        window.history.go(-1);
                                    }
                                },
                                error: function (obj) {
                                    $(".popback").hide();
                                    $(".loading3").hide();
                                    smGlobal.error(obj);
                                }
                            });


                        }
                    },
                    error: function (data) {
                        $(".popback").hide();
                        $(".loading3").hide();
                        console.log(data)
                    }
                });
            }
        });
    </script>
}




