<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*@Styles.Render("~/Content/css")*@
    @WebHelper4H5.RegisterStyles("reset.css")
    @WebHelper4H5.RegisterStyles("common.css")
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]scripts/jquery-2.1.1.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]scripts/modernizr-2.6.2.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]scripts/jquery.cookie.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]scripts/knockout-2.2.0.debug.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]scripts/knockout.validation.js"></script>

    @*  @Scripts.Render("~/bundles/scripts/plugin")*@
    @WebHelper4H5.RegisterScripts("global.js")
    <!--弹出层插件-->
    <link href="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/Plugin/layer.m/need/layer.css" rel="stylesheet" />
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/Plugin/layer.m/layer.m.js"></script>
    @WebHelper4H5.RegisterScripts("base.js")
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/cookieHandle.js?v=1.0"></script>
    <!--全局弹出loading -->
    <script>
        function Loading() {
            layer.open({
                shade: true,
                shadeClose: false,
                type: 2
            });
        }
        function CloseLoading() {
            layer.closeAll();
        }
    </script>
    @RenderSection("Head", false)
    @if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["BaiDuTongJi"]))
    {
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?@System.Configuration.ConfigurationManager.AppSettings["BaiDuTongJi"]";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>

    }
    @if (Request.Cookies.Get("IsHasCoupons") != null && Request.Cookies.Get("IsHasCoupons").Value == "1")
    {
        <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        var WXShare = Service.Site.wxService.WXShare(Request.Url.ToString());
        <script>
            $(function () {
                setTimeout(function () { platinumBag(@(Json.Encode(WXShare))); }, 500)
            });
        </script>
    }
    <script type="text/javascript">
        $(function () {
            var hasMatch = false;
            $(this).find("i").removeClass("on");
            $(".box.nav ul.navUl li a").each(function (index) {
                var href = $(this).attr("href");
                if (href != "/" && location.href.indexOf(href) > -1 && hasMatch == false) {
                    $(this).find("i").addClass("on");
                    hasMatch = true;
                }
            });
            if (!hasMatch)
                $(".box.nav ul.navUl li:first a i").addClass("on");

        });
    </script>

</head>
<body>
    <header class="full-width posFixed head">
        <div class="header posrela">
            <a id="btnBack" class="return ico_btn"><i class="home_back"></i><em>返回</em></a>
            @RenderSection("Title", false)
        </div>
        @RenderSection("SearchArea", false)
    </header>
    <article class="content">
        @RenderBody()

    </article>
    @RenderSection("Footer", false)
    <nav class="nav full-width box posFixed">
        <ul class="clearfix navUl ac">
            <li class="flex1">
                <a href="/">
                    <i class="user_home on"></i>
                    <p>首页</p>
                </a>
            </li>
            <li class="flex1">
                <a href="/Classify/themePromoList">
                    <i class="user_variety"></i>
                    <p>分类</p>
                </a>
            </li>
            <li class="flex1">
                <a href="/mall/getShoppingCart">
                    <i class="user_cart"></i>
                    <p>购物车</p>
                </a>
            </li>
            <li class="flex1">
                <a href="/Daman">
                    <i class="user_order"></i>
                    <p>匠人秀</p>
                </a>
            </li>
            <li class="flex1">
                <a href="/userAbout">
                    <i class="user_my"></i>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </nav>
    <div class="back_top">
        <div class="back_top_ico"></div>
        <div class="back_top_bg"></div>
    </div>
    @RenderSection("Scripts", false)
    <div style="display: none;">
        @Html.AntiForgeryToken()
    </div>
</body>
</html>
