@{
    ViewBag.Title = "猫市";
    Layout = "../Shared/_LayoutFooter.cshtml";
}
@section Head
{
    @WebHelper4H5.RegisterStyles("home/home_new.css")
    @WebHelper4H5.RegisterStyles("shoppingCart.css")
    <script type="text/javascript">
        @*var productList=@Html.Raw(ViewBag.ProductList);
        var categories=@Html.Raw(ViewBag.Categories);
        var banners=@Html.Raw(ViewBag.Banners);*@

    </script>
}
@section SearchArea
{
    <div isglobleload="true" style="width:60px;height:50px;position: fixed;top: 60%;left: 36%;">
        <img src="/Content/Images/homeloadingGif.gif" />
    </div>
    <div class="am-padding-per parbox locaarea">
        <span class="location pr30 fs13 location_city"><i class="home_sarrowdown"></i></span>
        <p class="flex1 searchArea posrela">
            <i class="home_mirror"></i>
            <input type="text" readonly="readonly" class="searchBotton white-bg fs12" placeholder="搜索您要找的商品" />
            <i class="btn-reset" style="display: none;">x</i>
        </p>
        @*<span class="searchBtn" disabled="disabled">搜索</span>*@
    </div>
    <div class="fs12 parbox broadcast">
        <p class="pl20 pr20"><span class="home_broadcast"></span></p>


        <ul id="broadCastScrollul" class="flex1 textEllipsis">
            @foreach (var news in ViewBag.NoticeList)
            {
                <li onclick="javascript:(window.location = '/BroadCast/Index')">@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;" + news["noticeTitle"])</li>

            }
        </ul>






    </div>


    <div class="block localWhere">
        <section class="areaSection">
            <header class="areaHeader">
                <input type="text" id="search_input" placeholder="请输入城市名">
            </header>
            <div id="location">当前位置：<span class="location_city"></span><span class="location_type">IP定位</span></div>
        </section>
        <div id="wrapper">
            <div id="scroller">

            </div>

        </div>
        <div id="orderbyLetter"></div>
        <!-- beforesend start-->
        <div class="loading3"></div>
        <!-- beforesend end-->
    </div>
}
<div class="slidePic banner" style="overflow: hidden" id="focus">
    <div class="bd">
        <ul id="div_banners">
            @for (int i = 0; i < ViewBag.BannerList.Length; i++)
            {
                var bannerUrl = string.IsNullOrEmpty(ViewBag.BannerList[i]["openType"]) ? "#" : WebConfig.WXMVCUrl + "/Classify/themePromoList?" + ViewBag.BannerList[i]["openPar"];

                <li style="@(i>0 ?"display:none":"")">
                    <a href="@bannerUrl"><img src='@ViewBag.BannerList[i]["src"]' style="width:100%;"></a>
                </li>
            }
        </ul>
    </div>
    <div class="hd">
        <ul class="slide text_indent clear"></ul>
    </div>
</div>
<!--导航区-->
<div class="am-g pt4">
    <ul class="parbox fs12">
        <li class="flex1 disblock ac">
            <a href="/classify/themePromoList?id=-6">
                <p class="pb1">
                    <span class="am-extend-icon home_collect">
                        <i class="home_collectIcon"></i>
                    </span>
                </p>
                <p class="cateTitle">新品尝鲜</p>
            </a>
        </li>
        <li class="flex1 disblock ac">
            <a href="/classify/themePromoList?id=-7">
                <p class="pb1">
                    <span class="am-extend-icon home_info">
                        <i class="home_coupon"></i>
                    </span>
                </p>
                <p class="cateTitle">本月活动</p>
            </a>
        </li>
        <li class="flex1 disblock ac">
            <a data-bind="attr:{href:'/UserAbout/myCoupon'}">
                <p class=" pb1">
                    <span class="am-extend-icon home_cart">
                        <i class="home_cartIcon"></i>
                    </span>
                </p>
                <p class="cateTitle">优惠券</p>
            </a>
        </li>
        <li class="flex1 disblock ac">
            <a href="/userAbout/orderList">
                <p class="pb1">
                    <span class="am-extend-icon home_order">
                        <i class="home_orderIcon"></i>
                    </span>
                </p>
                <p class="cateTitle">我的订单</p>
            </a>
        </li>
    </ul>
</div>
<div class="cproList clearfix pb55" id="shop">
    <!--热门推荐-->

    <div class="homecontentList" data-bind="foreach:list" style="display:none">
        <h2 data-bind="attr:{class:'comTitle fs12 ac comTitle_xpcx comTitle fs12 ac comTitle_'+homePageSetId}">
            <span class="proCatelog pl20 pr20 fs14">
                <i class="comtitIcon mr2"><img data-bind="attr:{src:titleIco}"></i>
                @*<i class="comtitIcon mr2"><img src="~/Content/images/titleIco1.png"></i>*@
                <span data-bind="text:title">-</span>
            </span>
            <em class="fr proMore pr10 pl20" style="position:absolute;right:0;" data-bind="if:hasMore"><a data-bind="attr:{href:'./classify/themePromoList?id='+homePageSetId}">更多<i class="ml1"><img src="/content/images/arowright.png" style="width:.2rem" /></i></a></em>
        </h2>
        <div class="clearfix pl10 pr10" data-bind="foreach:promotions">
            <div class="categBox box fl pb2">
                <div class="fl full-width imgbox">
                    <a data-bind="attr:{href:'/product/detail?activityId='+promotionId}">
                        <img class="fl" data-bind="attr:{src:src}">
                    </a>
                </div>
                <div class="white-bg pl15 pr15 fl box full-width pt2 pb2 desCategBox">
                    <p class="word-descriton parbox pt2 mb2">
                        <a data-bind="attr:{href:'/product/detail?activityId='+promotionId},text:productName" style="text-decoration:none;" class="flex1 fs13 te">-</a>
                        @*<span class="zan ar mt2">
                                <i data-bind="attr:{class:hasPraise?'home_heart ar cl':'home_heart ar'}"></i>
                                <em class="fs10 praiseCount" data-bind="text:praiseCount">-</em>
                                <input type="hidden" class="activityId" data-bind="attr:{value:promotionId}" />
                            </span>*@

                    </p>
                    <p class="kucun_qishou mb2 fs12">
                        <span class="qishou fr">起售量：<i data-bind="text:saleAmount">-</i></span>
                        <span class="kucun">库存：<i data-bind='text:productAmount>999?"999+":productAmount'>-</i></span>
                    </p>
                    @*<!-- ko if: retailPrice != salePrice -->
                        <p class="clearfix" style="height:.7rem; line-height:.7rem;"><span class="sm-price fs12" data-bind="text:retailPrice">-</span></p>
                        <!-- /ko -->
                        <!-- ko if: retailPrice == salePrice -->
                        <p class="clearfix" style="height:.7rem; line-height:.7rem;"><span class="sm-price fs12"></span></p>
                        <!-- /ko -->*@
                    <p class="clearfix">
                        <em class="redword fs14 mr2"><strong data-bind="text:'￥'+salePrice">-</strong></em>
                        <!-- ko if: retailPrice != salePrice -->
                        <span class="sm-price fs12" data-bind="text:retailPrice">-</span>
                        <!-- /ko -->
                        <span data-bind='attr:{"data-promotionid":promotionId,"data-proid":productId}' class="home_cart fr goods_cart"></span>
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="custom" style="height: auto;z-index:10000">
    <p class="cityLocationTip  pl20 pr20">系统定位您现在在上海市，是否切换到上海市？</p>
    <p class="custom_button" style="margin-bottom: 0;">
        <a href="javascript:;" class="quxiao locSure" data-locationcityname="" data-curcityid="">取消</a>
        <a href="javascript:;" class="locSure" data-locationcityname="" data-curcityid="">确定</a>
    </p>
</div>
@section Scripts
{
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/TouchSlide.1.1.source.js"></script>
    <script type="text/javascript">
        //banner图效果
        TouchSlide({
            slideCell: "#focus",
            titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
            mainCell: ".bd ul",
            effect: "leftLoop",
            autoPlay: true,//自动播放
            autoPage: true //自动分页
        });


    </script>

    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/jquery.bigautocomplete.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]/Scripts/BDconvertor.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/city_select.js?v=1.0"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Content/Scripts/Site/home.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/upScoll.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Content/Scripts/shoppingCart.js"></script>
}
