@{
    ViewBag.Title = "Malls·五洲精选";
    Layout = "../Shared/_LayoutFooter.cshtml";
}
@section Head
{
    @WebHelper4H5.RegisterStyles("home/home.css")
    @WebHelper4H5.RegisterStyles("home/home_new.css?v=1.0")
    @*@WebHelper4H5.RegisterStyles("shoppingCart.css")*@
    <script type="text/javascript">
        @*var productList=@Html.Raw(ViewBag.ProductList);
        var categories=@Html.Raw(ViewBag.Categories);
        var banners=@Html.Raw(ViewBag.Banners);*@
        var WXMVCUrl = "@WebConfig.WXMVCUrl";
        var CurrentUserId = @CurrentUser.Instance.UserId;
    </script>

    <style>
        .top_nav {
            height: 26px;
            margin-bottom: 2px;
        }
    </style>
}
@section SearchArea
{

    <div isglobleload="true" style="width:120px;height:100px;position: fixed;top: 60%;left: 50%; margin-left:-60px;z-index:2000;">
        <img src="/Content/Images/homeloadingGif.gif" style="width:100%;height:100%" />
    </div>

    <div class="am-padding-per parbox locaarea new_header ">
        <div style="width:1rem">
            <a href="/Classify/category">
                <i class="home_classfify"></i>
                <i class="class_font">分类</i>
            </a>
        </div>
        <!-- <span class="new_title fs18">猫市</span> -->
        <div class="new_city flex1 ac">
            <span class="fs15 location_city"><i class="home_sarrowdown"></i></span>
            <span class="location_city_xia"><i class="home_sarrowdown"></i></span>
        </div>
        <div class="fs13 new_search">
            <a href="/home/search">
                <i class="home_search"></i>
            </a>
        </div>
    </div>


    <div class="block localWhere" style="top: 1.7rem;">
        <section class="areaSection">
            <header class="areaHeader">
                <input type="text" id="search_input" placeholder="请输入城市名">
            </header>
            <div id="location">当前位置：<span class="location_city"></span><span class="location_type">GPS定位</span></div>
        </section>
        <div id="wrapper">
            <div id="scroller">

            </div>

        </div>
        <div id="orderbyLetter"></div>
        <!-- beforesend start-->
        <div class="loading3"></div>
        <!-- beforesend end-->
    </div>
}
@{

    if (ViewBag.BannerList.Length > 1)
    {
        <div class="slidePic banner" style="overflow: hidden;" id="focus">
            <div class="bd">
                <ul id="div_banners">
                    @for (int i = 0; i < ViewBag.BannerList.Length; i++)
                    {

                        var bannerUrl = string.IsNullOrEmpty(ViewBag.BannerList[i]["openType"]) ? "#" :
                            ViewBag.BannerList[i]["openType"] == "mall" ?
                                WebConfig.WXMVCUrl + "/Classify/themePromoList?" + ViewBag.BannerList[i]["openPar"] :
                                ViewBag.BannerList[i]["openPar"]
                            ;

                        <li style="@(i > 0 ? "display:none" : "")">
                            <a href="@bannerUrl"><img src="~/Content/Images/loading_370.png" class="scrollLoading" data-url="@ViewBag.BannerList[i]["src"]" style="width: 100%;"></a>
                        </li>
                    }
                </ul>
            </div>
            <div class="hd">
                <ul class="slide text_indent clear"></ul>
            </div>
        </div>
    }
    else
    {
        <div class="slidePic banner">

            @for (int i = 0; i < ViewBag.BannerList.Length; i++)
            {

                var bannerUrl = string.IsNullOrEmpty(ViewBag.BannerList[i]["openType"]) ? "#" :
                    ViewBag.BannerList[i]["openType"] == "mall" ?
                        WebConfig.WXMVCUrl + "/Classify/themePromoList?" + ViewBag.BannerList[i]["openPar"] :
                        ViewBag.BannerList[i]["openPar"]
                    ;

                <div style="@(i > 0 ? "display:none" : "")">
                    <a href="@bannerUrl"><img src="~/Content/Images/loading_370.png" class="scrollLoading" data-url="@ViewBag.BannerList[i]["src"]" style="width: 100%;"></a>
                </div>
            }
        </div>
    }
}


<!--导航区-->
<div class="am-g new_navbar">
    <ul class="clearfix fs12 new_img">
        @{
            if (ViewBag.CatModules != null)
            {
                foreach (var item in ViewBag.CatModules)
                {
                    <li class="fl disblock ac" onclick="javascript:location.href = '/Classify/themePromoList?catId=@item["matchValue"]';">
                        <a href="#">
                            <p class="pb1">
                                <img src="@item["titleIco"]" class="new_img top_nav">
                            </p>
                            <p class="cateTitle">@item["title"]</p>
                        </a>
                    </li>
                }
            }
        }
        <li class="fl disblock ac" onclick="javascript:location.href = '/Classify/category';">
            <a href="#">
                <p class="pb1">
                    <img src="/content/images/more_icon_01.png" style="margin: 5px;height: 18px;" class="new_img top_nav">
                </p>
                <p class="cateTitle">查看更多</p>
            </a>
        </li>

    </ul>
</div>


@* 本月会员专享 *@
@{
    if (ViewBag.MemberBuyList != null && ViewBag.MemberBuyList.Length == 3)
    {
        if (ViewBag.MemberBuyBannerModel != null)
        {
            var bannerUrl = string.IsNullOrEmpty(ViewBag.MemberBuyBannerModel["openType"]) ? "#" :
                        ViewBag.MemberBuyBannerModel["openType"] == "mall" ?
                            WebConfig.WXMVCUrl + "/Classify/themePromoList?" + ViewBag.MemberBuyBannerModel["openPar"] :
                            ViewBag.MemberBuyBannerModel["openPar"];

            <div class=" pb4 white-bg nowMonth" id="nowMonth">

                <a href="@bannerUrl">
                    <img src="~/Content/Images/loading_150.png" data-url="@ViewBag.MemberBuyBannerModel["src"]" class="nowDaPaiBanner scrollLoading" />
                </a>

                <div class="todaynew_head" style="padding: 0.4rem;" onclick="javascript:location.href = '/Classify/themePromoList?ModuleType=-16'">
                    <div class="todaynew_center" style="line-height: 0.6rem;">
                        <p><span class="nowMonthIcon"></span>本月会员专享</p>
                    </div>
                    <span class="seeall" style="line-height: 0.6rem;">更多</span>
                    <div class="right_img">
                        <img src="/content/images/icon_right2.png" />
                    </div>
                </div>
                <div class="nowMonthDiv" id="nowMonthDiv">

                    @foreach (var citem in ViewBag.MemberBuyList)
                    {
                        var bannerUrl1 = string.IsNullOrEmpty(citem["openType"]) ? "#" :
                                 citem["openType"] == "mall" ?
                                     WebConfig.WXMVCUrl + "/Classify/themePromoList?" + citem["openPar"] :
                                     citem["openPar"]
                                 ;
                        <div class="list" onclick="javascript:location.href = '@bannerUrl1';">
                            <img src="@citem["src"]" />
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="mt4 pb4 white-bg nowMonth" id="nowMonth">


                <div class="todaynew_head" style="padding: 0.4rem;" onclick="javascript:location.href = '/Classify/themePromoList?ModuleType=-16'">
                    <div class="todaynew_center" style="line-height: 0.6rem;">
                        <p><span class="nowMonthIcon"></span>本月会员专享</p>
                    </div>
                    <span class="seeall" style="line-height: 0.6rem;">更多</span>
                    <div class="right_img">
                        <img src="/content/images/icon_right2.png" />
                    </div>
                </div>
                <div class="nowMonthDiv" id="nowMonthDiv">

                    @foreach (var citem in ViewBag.MemberBuyList)
                    {
                        var bannerUrl1 = string.IsNullOrEmpty(citem["openType"]) ? "#" :
                                 citem["openType"] == "mall" ?
                                     WebConfig.WXMVCUrl + "/Classify/themePromoList?" + citem["openPar"] :
                                     citem["openPar"]
                                 ;
                        <div class="list" onclick="javascript:location.href = '@bannerUrl1';">
                            <img src="@citem["src"]" />
                        </div>
                    }
                </div>
            </div>
        }
    }
}

@* 今日上新 *@
@{
    if (ViewBag.ToDayNew != null)
    {
        <div class="todaynews">
            <div class="todaynew_head">
                <div class="todaynew_center">
                    <p>今日上新</p>
                    <p>@ViewBag.ToDayNew["moduleDescription"]</p>
                </div>
                <span class="seeall" onclick="javascript:location.href = '/Classify/themePromoList?ModuleType=@ViewBag.ToDayNew["moduleType"]&MatchValue=@ViewBag.ToDayNew["matchValue"]';">更多</span>
                <div class="right_img">
                    <img src="/content/images/icon_right2.png" />
                </div>
            </div>
            <div class="goods_other">
                <ul class="clearfix">
                    @foreach (var citem in ViewBag.ToDayNew["promotions"])
                    {
                        <li class="" onclick="javascript:location.href = '/product/detail?activityId=@citem["promotionId"]';">

                            <img src="~/Content/Images/loading_new_malls.png" class="scrollLoading" data-url="@citem["src"]" />
                            <p class="T_title">@citem["productName"]</p>
                            @if (@citem["isMemberOnly"] == 1)
                            {
                                <div class="T_price">
                                    <p class="vip retailPrice">￥@citem["retailPrice"]</p>
                                    @if (@citem["retailPrice"] != @citem["salePrice"])
                                    {
                                        <p class="vip salePrice">:￥@citem["salePrice"]</p>
                                    }

                                </div>
                            }
                            else
                            {
                                <div class="T_price">
                                    <p class="salePrice">￥@citem["salePrice"]</p>
                                    @if (@citem["retailPrice"] != @citem["salePrice"])
                                    {
                                        <p class="retailPrice">￥@citem["retailPrice"]</p>
                                    }
                                </div>
                            }
                        </li>
                    }
                    <li class=" moreGoods" onclick="javascript:location.href = '/Classify/themePromoList?ModuleType=@ViewBag.ToDayNew["moduleType"]&MatchValue=@ViewBag.ToDayNew["matchValue"]';">
                        <div>
                            <div class="moreDiv">
                                <p></p>
                                <p>查看更多 ></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    }
}


@* 海淘限时购 *@
@{
    if ((ViewBag.NowDaPaiBuy != null && ViewBag.NowDaPaiBuy.Length > 0) || (ViewBag.nextDaPaiBuy != null && ViewBag.nextDaPaiBuy.Length > 0))
    {
        <div class="mt4 pb4 white-bg nowDaPaiBuy">

            @if (ViewBag.DaPaiBuyBannerModel != null)
            {
                var bannerUrl = string.IsNullOrEmpty(ViewBag.DaPaiBuyBannerModel["openType"]) ? "#" :
                        ViewBag.DaPaiBuyBannerModel["openType"] == "mall" ?
                            WebConfig.WXMVCUrl + "/Classify/themePromoList?" + ViewBag.DaPaiBuyBannerModel["openPar"] :
                            ViewBag.DaPaiBuyBannerModel["openPar"];

                <a href="@bannerUrl">
                    <img src="~/Content/Images/loading_150.png" data-url="@ViewBag.DaPaiBuyBannerModel["src"]" class="nowDaPaiBanner scrollLoading" />
                </a>

            }

            <ul class="parbox skillTitle fs14 posrelative" id="snapUp">
                <li class="disblock flex1 cur ac"><span class="now"></span>海淘限时购</li>
                <li class="disblock flex1 ac"><span class="next"></span>下周预告</li>
            </ul>
            <div>
                <div class="tabs">
                    <div class="today goods_dapai" id="nowDaPaiBuy">
                        <ul class="">
                            @if (ViewBag.NowDaPaiBuy != null && ViewBag.NowDaPaiBuy.Length > 0)
                            {
                                foreach (var citem in ViewBag.NowDaPaiBuy)
                                {
                                    <li class="parbox" data-pid="@citem["promotionId"]" onclick="javascript:location.href = '/product/detail?activityId=@citem["promotionId"]';">
                                        <div class="left">
                                            <img src="~/Content/Images/loading_new_malls.png" class="scrollLoading" data-url="@citem["src"]" />
                                        </div>
                                        <div class="right flex1">
                                            <p class="T_title">@citem["productName"]</p>
                                            <p class="T_desc">@citem["promotionTitle"]</p>
                                            @if (@citem["isMemberOnly"] == 1)
                                            {
                                                <div class="T_price">
                                                    <span class="vip retailPrice">￥@citem["retailPrice"]</span>
                                                    @if (@citem["retailPrice"] != @citem["salePrice"])
                                                    {
                                                        <span class="vip salePrice">:￥@citem["salePrice"]</span>
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="T_price">
                                                    <span class="salePrice">￥@citem["salePrice"]</span>
                                                    @if (@citem["retailPrice"] != @citem["salePrice"])
                                                    {
                                                        <span class="retailPrice">￥@citem["retailPrice"]</span>
                                                    }
                                                </div>
                                            }


                                        </div>
                                    </li>
                                }
                                <li class=" moreGoods" onclick="javascript:location.href = '/Classify/themePromoList?ModuleType=-15&IsTodayBuying=true'">
                                    <div>
                                        <div class="moreDiv">
                                            <p></p>
                                            <p>查看更多 ></p>
                                        </div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class=" noThisdata">
                                    <div class="pl30 pr30 fs14">暂无本周大牌down</div>
                                </li>
                            }
                        </ul>
                    </div>



                    <div class="tomorr goods_dapai" id="nextDaPaiBuy" style="display:none;">
                        <ul>
                            @if (ViewBag.nextDaPaiBuy != null && ViewBag.nextDaPaiBuy.Length > 0)
                            {
                                foreach (var citem in ViewBag.nextDaPaiBuy)
                                {
                                    <li class=" member" data-pid="@citem["promotionId"]" onclick="javascript:location.href = '/product/detail?activityId=@citem["promotionId"]';">
                                        <div class="left">
                                            <img src="~/Content/Images/loading_new_malls.png" class="scrollLoading" data-url="@citem["src"]" />
                                        </div>
                                        <div class="right flex1">
                                            <p class="T_title">@citem["productName"]</p>
                                            <p class="T_desc">@citem["promotionTitle"]</p>
                                            @if (@citem["isMemberOnly"] == 1)
                                            {
                                                <div class="T_price">
                                                    <span class="vip retailPrice">￥@citem["retailPrice"]</span>
                                                    @if (@citem["retailPrice"] != @citem["salePrice"])
                                                    {
                                                        <span class="vip salePrice">:￥@citem["salePrice"]</span>
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="T_price">
                                                    <span class="salePrice">￥@citem["salePrice"]</span>
                                                    @if (@citem["retailPrice"] != @citem["salePrice"])
                                                    {
                                                        <span class="retailPrice">￥@citem["retailPrice"]</span>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </li>
                                }
                                <li class=" moreGoods" onclick="javascript:location.href = '/Classify/themePromoList?ModuleType=-15&IsTomorrowBuying=true'">
                                    <div>
                                        <div class="moreDiv">
                                            <p></p>
                                            <p>查看更多 ></p>
                                        </div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class=" noThisdata">
                                    <div class="pl30 pr30 fs14">暂无下周预告</div>
                                </li>
                            }
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    }
}

@* 首页配置分类 *@
<div data-bind="foreach:hPromotionList" id="listOther">
    <div class="todaynews">
        <div class="todaynew_head" data-bind="attr:{'data-moduletype':moduleType,'data-matchvalue':matchValue}">
            <div class="todaynew_center">
                <p data-bind="text:title"></p>
                <p data-bind="text:moduleDescription"></p>
            </div>
            <span class="seeall listMore">更多</span>
            <div class="right_img">
                <img src="/content/images/icon_right2.png" />
            </div>

        </div>
        <div class="goods_picture listMore" data-bind="attr:{'data-moduletype':moduleType,'data-matchvalue':matchValue,'data-opentype':openType,'data-openpar':openPar}">
            <img data-bind="attr:{src:moduleBanner}" class="images">
        </div>
        <div class=" goods_other">
            <ul class="clearfix">
                <!-- ko foreach:promotions -->
                <li class="" data-bind="attr:{'data-id':promotionId}">
                    <img data-bind="attr:{'data-url':src}" src="~/Content/Images/loading_new_malls.png" class="scrollLoading">
                    <p class="T_title" data-bind="text:productName"></p>
                    <!-- ko if:isMemberOnly==1 -->
                    <div class="T_price">
                        <p class="vip retailPrice" data-bind="text:'￥'+retailPrice"></p>
                        <!-- ko if:retailPrice!=salePrice -->
                        <p class="vip salePrice" data-bind="text:':￥'+salePrice"></p>
                        <!-- /ko -->

                    </div>
                    <!-- /ko -->
                    <!-- ko if:isMemberOnly!=1 -->
                    <div class="T_price">
                        <p class="salePrice" data-bind="text:'￥'+salePrice"></p>
                        <!-- ko if:retailPrice!=salePrice -->
                        <p class="retailPrice" data-bind="text:'￥'+retailPrice"></p>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </li>
                <!-- /ko -->
                <li class="moreGoods" data-bind="attr:{'data-moduletype':moduleType,'data-matchvalue':matchValue}">
                    <div>
                        <div class="moreDiv">
                            <p></p>
                            <p>查看更多 ></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>




@* 首页精品推荐 *@

<div id="listBetter" style="display:none;">
    <div class="todaynews">
        <div class="todaynew_head">
            <div class="todaynew_center" style=" padding-left:0 !important;">
                <p><span class="jingXuanIcon"></span>精选推荐</p>
            </div>
        </div>
        <div class=" goods_better">
            <ul class="clearfix">
                <!-- ko foreach:boutique -->
                <li data-bind="attr:{'data-id':promotionId}">
                    <div class="left">
                        <img data-bind="attr:{'data-url':src}" src="~/Content/Images/loading_new_malls.png" class="scrollLoading">
                    </div>
                    <div class="right flex1">
                        <p class="T_title" data-bind="text:productName"></p>
                        <p class="T_desc" data-bind="text:promotionTitle"></p>
                        <!-- ko if:isMemberOnly==1 -->
                        <div class="T_price">
                            <span class="vip retailPrice" data-bind="text:'￥'+retailPrice"></span>
                            <!-- ko if:retailPrice!=salePrice -->
                            <span class="vip salePrice" data-bind="text:':￥'+salePrice"></span>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- ko if:isMemberOnly!=1 -->
                        <div class="T_price">
                            <span class="salePrice" data-bind="text:'￥'+salePrice"></span>
                            <!-- ko if:retailPrice!=salePrice -->
                            <span class="retailPrice" data-bind="text:'￥'+retailPrice"></span>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>

                </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</div>
<div id="showMore">
    <div class="infinite-scroll-preloader"><div class="preloader"></div></div>
</div>



<div class="visit" id="visit">
    <a href="javascript:void(0)" class="visit-close" id="visitClose"></a>
    <div class="visit-info">

    </div>
</div>
<input type="hidden" id="imgHost" value='@ViewBag.ImgHost' />
<div class="b_55"></div>


@*</div>*@
<div class="custom" style="height: auto;z-index:10000">
    <p class="cityLocationTip  pl20 pr20">系统定位您现在在上海市，是否切换到上海市？</p>
    <p class="custom_button" style="margin-bottom: 0;">
        <a href="javascript:;" class="quxiao locSure" data-locationcityname="" data-curcityid="">取消</a>
        <a href="javascript:;" class="locSure" data-locationcityname="" data-curcityid="">确定</a>
    </p>
</div>

@section Scripts
    {
    <script type="text/javascript">
        var HomePromotionList=@Html.Raw( JsonHelper.ToJSON(ViewBag.HomePromotionList));
        var Boutique = @Html.Raw(JsonHelper.ToJSON(ViewBag.Boutique));
        var imgHost = $("#imgHost").val();

        var sesStorage = window.sessionStorage;
        sesStorage.setItem("chargeFlag", "0");
    </script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/TouchSlide.1.1.source.js"></script>
    @WebHelper4H5.RegisterScripts("scrollLoading.js")
    <script type="text/javascript">
        //banner图效果
        TouchSlide({
            slideCell: "#focus",
            titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
            mainCell: ".bd ul",
            effect: "leftLoop",
            autoPlay: false, //自动播放
            autoPage: true,//自动分页
            interTime:3500,//
            //defaultIndex:0
        });
        //暂时兼容app端城市搜索框不显示的bug
        $(function() {

            setTimeout(function(){
                $('.areaHeader').show();
            }, 2000);
            //设置商品图片高度
            $("#listBetter").show();
            //var itemHeight = $(".goods_better img").first().width() / 0.7;
            //$(".goods_better img").height(itemHeight);
            var itemWidth = $(".goods_better").width();
            console.log(itemWidth)
            $(".goods_better li").height(itemWidth /750 *320);
            $("#listBetter").hide()
            var itemHeight = $(".goods_other li img").first().width() / 1.12;
            $(".goods_other li img").height(itemHeight);
            $(".goods_other .moreGoods").height(itemHeight);
            var _height = $("#nowMonthDiv .list:nth-child(1)").width();
            $("#nowMonthDiv").height(_height/329*440);
            var _width = $(".goods_dapai li").width();
            $(".goods_dapai li").height(_width /596 *274);

        });

    </script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/jquery.bigautocomplete.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]/Scripts/BDconvertor.js"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/city_select.js?v=1.0.3"></script>
    @WebHelper4H5.RegisterScripts("xr.ui.slider.js")
    @WebHelper4H5.RegisterScripts("Site/home.js")
    <script src="@System.Configuration.ConfigurationManager.AppSettings["H5Url"]Scripts/upScoll.js"></script>
    @*@WebHelper4H5.RegisterScripts("shoppingCart.js")*@
}

<script>

</script>